body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #cccccc;
}

table {
    width: 70%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin: auto;
    background-color: white;
}

th, td {
    border-collapse: collapse;
    border-bottom: solid 1px #111;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

table tr:first-child {
    background-color: #006a05;
    color: white;
}

table tr:nth-child(2) {
    background-color: #c2b200;
    font-weight: bold;
}

table tr:nth-child(n+3) td {
    padding: 10px;
}

table tr:nth-child(even):not(tr:nth-child(2)) {
    background-color: #fffde8;
    font-weight: bold;
}

a {
    display: block;
    width: 5%;
    padding: 10px;

    background-color: #c2b200;
    border-radius: 5px;
    text-align: center;

    text-decoration: none;
    color: black;
    font-weight: bold;

    position: fixed;
    bottom: 20px;
    left: 20px;
    color: #006a05;
    font-weight: bold;
}

a:hover {
    background-color: #5c5400;
    color: white;
}